<!DOCTYPE html>
<html lang="en">
<head>

    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <!--    <link href="../hangman/public/images/favicon.png" rel="icon" type="text/css">-->
    <meta charset="UTF-8">
    <title>Hangman Game</title>
</head>
<body>
<div>
    <div class="puzzle" id="puzzle">
        <p id="guess"></p>
    </div>
    <p id="status"></p>
    <button class="button" id="reset">Reset</button>
</div>
</body>
<script src="scripts/bundle.js"></script>
</html>